.currmovies{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

}
.wantingmovies{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.willmovies{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}